<ion-view view-title="Products">
  <ion-content class="padding">
    <p class="text-info" ng-show="loading">Loading products...</p>
    <p class="text-info" ng-show="error">{{ error }}</p>
    <div class="list card" ng-repeat="product in products">
      <div class="item">
        <h2>{{ product.name }}</h2>
      </div>

      <div class="item item-image">
        <img ng-src="{{ product.image_url }}">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-eye"></i>
        View Details
      </a>
    </div>
  </ion-content>
</ion-view>